In [1]:
# chapter 6: Data Loading, Storage, and File Formats (DATA LOADING)

In [2]:
# term "parsing" : loading text data and interpreting it as tables and different data types

# 6.1 Reading and Writing Data in Text Format

In [3]:
# pandas.read_csv() : one of the most frequently used
# Text and binary data loading function in Pandas
# .read_csv : load delimited data from a file, URL or file-like object; use comma as defualt delimiter
# .read_fwf : read data in fixed-width column format (i.e., no delimiters)
# .read_clipboard : variation of .read_csv that reads data from the clipboard; useful for converting tables from web pages
# .read_excel : read tabular data from an Excel XLS or XLSX file
# .read_hdf : read HDF5 files written by pandas
# .read_htmi : read all tables found in the given HTML documnet
# .read_json : read data from a JSON (JavaScript Object Notation) string representation, file, URL, or file-like object
# .read_feather : read the Feather binary file format
# .read_orc : read the Apache ORC binary file format
# .read_parquet : Read the Apache Parquet binary file format
# .read_pickle : read an object stored by pandas using the Python pickle format
# .read_sas : read a SAS dataset stored in one of the SAS system's custom storage formats
# .read_spss : read a data file created by SPSS
# .read_sql : read the results of a SQL query (using SQLAlchemy)
# .read_sql_table : read a whole SQL table (using SQLAlchemy); equivalent to using a query that selects everything in that table using .read_sql
# .read_stata : read a dataset from Stata file format
# .read_xml : read a table of data from an XML file

In [4]:
# functions are meant to convert text data into a DataFrame
# some optional arguments:
# Indexing - can treat one or more columns as the returned DataFrame, get column names from the file, or not at all
# Type inference and data conversion - includes the user-defined value conversions and custom list of missing value markers
#     With inferencing there is no need to specify each column with data types
# Date and time parsing - includes a combining capability, cobining date and time information spread over multiple columns into a single column
# Iterating - support for iterating over chunks of very large files
# Unclean data issues - includes skipping rows or a footer, comments, or other minor things 
# pandas.read_csv alone has many different parameters - so refer to parameters library

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("examples/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
# options to read a file
# 1. to allow pandas to assign default column names, or 2. specify names yourself
# header is column names
pd.read_csv("examples/ex2.csv",header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv("examples/ex2.csv",names=["a","b","c","d","message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
# suppose you want the message column to be the inndex of the returned DataFrame
# can either 1. indicate column at index 4 or 2. named "message" using the index_col argument
names = ["a","b","c","d","message"]
pd.read_csv("examples/ex2.csv",names=names,index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
# if you want a hierarchical index from multiple columns, pass a list of column numbers in names
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1","key2"])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [10]:
# in some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields
# for a txt file, the fields are separated by a varaible amount of whitespace
# in this case, you can pass a regular expression as a delimiter for pandas.read_csv
# this can be epxressed by the regular expression \s+
result = pd.read_csv("examples/ex3.txt",sep="\s+")
result

# because there was one fewer column name than the number of data rows, pandas.read_csv infers that the first column should be the Dataframe's index in this special case

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [11]:
# can skip cetain rows of a file with skiprows
# skipping 1st, 3rd and 4rth rows (containing comments and no data)
pd.read_csv("examples/ex4.csv",skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
# handling missing values
# missing data is usually either not present (empty string) or marked by some sentinel (placeholder) value
# commonly occurring sentinels are NA and NULL
result = pd.read_csv("examples/ex5.csv")
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [13]:
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [14]:
# the na_values option accepts a sequence of strings to add to the default list of strings recognized as missing
result = pd.read_csv("examples/ex5.csv",na_values=["NULL"])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
# pandas.read_csv has a list of many default NA value representations
# but these defaults can be disabled with keep_default_na option
result2 = pd.read_csv("examples/ex5.csv",keep_default_na=False)
result2

  something  a   b   c   d message
0       one  1   2   3   4      NA
1       two  5   6       8   world
2     three  9  10  11  12     foo

In [16]:
result2.isna()

   something      a      b      c      d  message
0      False  False  False  False  False    False
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [17]:
result3 = pd.read_csv("examples/ex5.csv",keep_default_na=False,
                      na_values=["NA"])
result3

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6       8   world
2     three  9  10  11  12     foo

In [18]:
result3.isna()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [19]:
# different NA sentinels can be specified for each column in a dictionary
sentinels = {"message":["foo","NA"],
             "something":["two"]}
sentinels

{'message': ['foo', 'NA'], 'something': ['two']}

In [20]:
pd.read_csv("examples/ex5.csv",na_values=sentinels,
            keep_default_na=False)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6       8   world
2     three  9  10  11  12     NaN

In [21]:
# additional arguments for file parsing functions, frequently used option in padas.read_csv
# some pandas.read_csv function arguments
# path : string indicating filesystem location, URL, or file-like object
# sep or delimiter : character sequence or regular expression to use to split fields in each row
# header : row number to use as comumn names; defaults to 0 (first row), but should be None if there is no header row
# index_col : column numbers or names to use as the row index in the result; can be a single name/number or a list of them for a hierarchical index
# names : list of column names for the result
# skiprows : number of rows at beginning of file to ignore or list of rows numbers (starting from 0) to skip
# na_values : sequence of values to replace with NA; they are added to the default list unless keep_default_na=False is passed
# keep_default_na : whether to sue the default NA value list or not (True by default)
# comment : characters to split comments off the end of lines
# parse_dates : attempt to parse data to datatime; False by default; if True, will attempt to parse all columns
#               otherwise, can specify a list of column numbers or names to parse
#               if elemont of list is tuple or list, will combine multiple columns together and parse to date (e.g., if date/time split across two columns)
# keep_date_col : if joining columns to parse date, keep the joined columns; False by default
# converters : dictionary containing column number or name mapping to functions (e.g., {"foo":f}) would apply the function f to all values in the "foo" column
# dayfirst : when parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 --> June 7, 2012); False by default
# date_parser : function to use to parse dates
# nrows : number of rows to read from beginning of file (not counting the header)
# iterator : return a TextFileReader object for reading the file piecemeal; this object can also be used with the with satement
# chunksize : for iteration, size of file chunks
# skip_footer : number of lines to ignore at end of file
# verbose : print various parsing infommation, like the time spent in each stage of the file conversion and memory use information
# encoding : text encoding (e.g., "utf-8" for UTF-8 encoded text); defaults to "utf-8" if none
# squeeze : if the parsed data contains only one column, return a Series.
# thousands : separator for thousands (e.g., "," or "."); default is none
# decimal : decimal separator in numbers (e.g., "." or ","); default is "."
# engine : csv parsing and conversion engine to use; can be one of "c", "python", or "pyarrow"; the default is "c", 
#          though the newer "pyarrow" engine can parse some files much faster.

In [22]:

# Reading Text Files in Pieces

In [23]:
# reading a small piece of a file (when file is too large) or iterate through small chunks of file
# making padas display settings more compact
pd.options.display.max_rows = 10

In [24]:
result = pd.read_csv("examples/ex6.csv")
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [25]:
# nrows argument to speicify how many rows to read
pd.read_csv("examples/ex6.csv",nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [26]:
# to read a file in pieces, specify a chunksize as number of rows
chunker = pd.read_csv("examples/ex6.csv",chunksize=1000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [27]:
# the TextFileReader object returned by pandas.read_csv allows you to iterate over the parts of the file according to the chunksize
# for example, we can iterate over ex6.csv, aggregating the value counts in the "key" column
chunker = pd.read_csv("examples/ex6.csv",chunksize=1000)

tot = pd.Series([],dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(),fill_value=0)

# for x in y: is a definition of loop. x is a temporary object to temp store and run the loops
    
tot = tot.sort_values(ascending=False)
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [28]:
# TextFileReader is also equipped with a get_chunk method taht enables you to read pieces of any arbitrary size

In [29]:
# Writing Data to Text Format

In [30]:
# data can also be exported to a delimited format
data = pd.read_csv("examples/ex5.csv")
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
# using DataFrame's to_csv method, we can write the data out to a comma-separated file
data.to_csv("examples/out.csv")

In [32]:
# other delimiters can be used
# writing to sys.stdout so it prints the text result to the console rather than a file
import sys

data.to_csv(sys.stdout,sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [33]:
# missing values appear as empty strings in the output - denote them with some otehr sentinel value
data.to_csv(sys.stdout,na_rep="NULL")

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [34]:
# with no other options specified, both the row and column labes are written; and this can be disabled
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [35]:
# you can also write only a subset of the columns, and in an order of your choosing
data.to_csv(sys.stdout,index=False,columns=["a","b","c"])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [36]:

# Working with Other Delimited Formats

In [37]:
# sometimes, some manual processing in reading files may be necessary
# when file with one or more malformed lines that trip up pandas.read_csv
# for any file with single-character delimiter, can pass any open file or file-like object to csv.reader
import csv
f = open("examples/ex7.csv")
reader = csv.reader(f)

In [38]:
# iterating through the reader like a file yeilds lists of values with any quote characters removed
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [39]:
f.close()
# close() is a code to stop referencing a file, responding to open(), so the code doesn't keep referencing and crash
# with open("examples/ex7.csv") as f:
#    reader = csv.reader(f)
#    for line in reader:
#        print(line)
# No f.close() needed!

In [40]:
# from there, doing the warngling necessary to put the data in the form that needed
# first, read the file into a list of lines
with open("examples/ex7.csv") as f:
    lines = list(csv.reader(f))

In [41]:
# then we split the lines into the header line and the data lines
header, values = lines[0], lines[1:]

In [42]:
# then we can create a dictionary of data columns using a dictionary comprehension and the expression zip (*values)
# this transposes rows to columns
data_dict = {h:v for h,v in zip(header,zip(*values))}
data_dict

# dictionary comprehension: for loop compressed into a single line to create dictionary

# zip() takes two or more lists and pulls them together in lists, pairing the rows values
# zip(*) is zip() with transposing the matrix

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [43]:
# dfining a new format with a different delimiter - defining a subclass of csv.Dialect

import csv

with open("examples/ex7.csv") as f:

# Defining a class
class my_dialect(csv.Dialect):
    # Class attributes
    lineterminator = "\n"
    delimiter = ";"
    quotechar = ""
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f,dialect=my_dialect)

IndentationError: expected an indented block after 'with' statement on line 5 (2862167021.py, line 8)

In [ ]:
# indentation error - "with" statement expects the next line to be intended

import csv

class my_dialect(csv.Dialect):
    # Class attributes
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

with open("examples/ex7.csv") as f:
    # this line must be indented to stay inside the room
    reader = csv.reader(f,dialect=my_dialect)

    for line in reader:
        print(line)

In [ ]:
# could also give individual csv dialect parameters as keywords to csv.reader without having to define a subclass

import csv

class my_dialect(csv.Dialect):
    # Class attributes
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

with open("examples/ex7.csv") as f:
    # this line must be indented to stay inside the room
    reader = csv.reader(f,delimiter="|")

    for line in reader:
        print(line)

In [ ]:
# CSV dialect options
# delimiter : one-character string to separate fields; defaults to ","
# lineterminator : changing lines; defaults to "\r" or "\n"; reader ignores this and recognizes cross-platform line terminators
# quotechar : quote character for fields with special characters (like a delimiter); defualt is ""
# quoting : quoting convention; 
#   options include; 
#           csv.QUOTE_ALL (quote all fields)
#           csv.QUOTE_MINIMAL (only fields with special characters like the delimiter) - default
#           csv.QUOTE_NONNUMERIC, and
#           csv.QUOTE_NONE (no quoting)
# skipinitialspace : ignore whitespace after each delimiter; defualt is False
# doublequote : hwo to handle quoting character inside a field; if True, it is doubled
# escapechar : string to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default

In [ ]:
# NOTE: for files with more complicated or fixed multicharacter delimiters, you will not be able to use the csv module
#       in those cases, you'll have to do the line splitting and other cleanup using the string's split method or the regular expression method re.split
#       pandas.read_csv is capable of doing almost anything if you pass the necessary options - parsing files by hand will be rare

In [ ]:
# writing delimited files manually - csv.writer

import csv

class my_dialect(csv.Dialect):
    # Class attributes
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

with open("mydata.csv,"w") as f:
    writer = csv.writer(f,dialect=my_dialect)
    writer.writerow(("one","two","three"))
    writer.writerow(("1","2","3"))
    writer.writerow(("4","5","6"))
    writer.writerow(("7","8","9"))

In [ ]:

# JSON Data

In [ ]:
# JSON (JavaScript Object Notation) standard formats for sending data by HTTP request between web browsers

obj = """
{"name": "Wes",
"cities_lived":["Akron","Nashville","New York","San Fransicso"],
"pet":null,
"siblings":[{"name":"Scott","age":34,"hobbies":["guitars","soccer"]},
    {"name":"Katie","age":42,"hobbies":["diving","art"]}]
}
"""
obj

In [ ]:
# JSON is very nearly valid Python code with the exception of its null value and some other nuances
# basic types are objects (dictionaries), arrays (lists), strings, numbers, booleans, and nulls
# all of the keys in an object must be strings
# a Python library is "json"
import json
result = json.loads(obj)
result

In [ ]:
# json.dumps() converts a Python object back to JSON
asjson = json.dumps(result)
asjson

In [ ]:
# can pass a list of dictionaries (JSON objects) to DataFrame and select a subset of data fields
siblings = pd.DataFrame(result["siblings"],columns=["name","age"])
siblings

In [ ]:
# pandas.read_json can automatically convert JSON datasets into Series or DataFrame
data = pd.read_json("examples/example.json")
data

In [ ]:
# exporting data from Pandas to JSON, use to_json() on Series and DataFrame
data.to_json(sys.stdout)

In [ ]:
data.to_json(sys.stdout,orient="records")

In [ ]:

# XML and HTML: Web Scraping

In [ ]:
# installing additional libraries used by read_html()
conda install lxml beautifulsoup4 html5lib

In [ ]:
# pandas.read_html() : by default it searches for and attempts to parse all taular data contained within <table> tags
tables = pd.read_html("examples/fdic_failed_bank_list.html")
len(tables)

In [ ]:
tables

In [ ]:
failures = tables[0]

In [ ]:
failures.head()

In [ ]:
# because failures has many columns, pandas inserts a line break character "\"
# cleaning some basic data - computing the number of bank failures by year
close_timestamps = pd.to_datetime(failures["Closing Date"])
close_timestamps

In [ ]:
close_timestamps.dt.year.value_counts()

In [ ]:

# Parsing XML with lxml.objectify

In [ ]:
# XML is another common structured data format supporting hierarchical, nested dat with metadata
from lxml import objectify
path = "datasets/mta_perf/Performance_MNR.xml"

In [ ]:
with open(path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot()

In [ ]:

# 6.2 Binary Data Formats

In [ ]:
# for storing data in binary format - pickle module; to_pickle()
frame = pd.read_csv("examples/ex1.csv")
frame

In [ ]:
frame.to_pickle("examples/frame_pickle")

# this creates a pickle file; pickle files are in general readable only in Python
# pickle file can be read using pandas.read_pickle()

In [ ]:
pd.read_pickle("examples/frame_pickle")

In [ ]:
# pickle is recommended only as a short-term storage format; the problem is that it might not be stable over time
# with library version change it might fail to unpickle

In [ ]:
# another open source binary data format is Apache Parquet
fec = pd.read_parquet('datasets/fec/fec.parquet')
fec

In [ ]:
# reading Excel files
# need to install add-on packages; xlrd and openpyxl

In [ ]:
conda install openpyxl xlrd

In [ ]:
# pandas.ExcelFile()
xlsx = pd.ExcelFile("examples/ex1.xlsx")
xlsx

In [ ]:
xlsx.sheet_names

In [ ]:
# data stored in a sheet can then be read into DataFrame with .parse()
xlsx.parse(sheet_name="Sheet1")

In [ ]:
# the Excel table has an index column, so can indicate with the index_col argument
xlsx.parse(sheet_name="Sheet1",index_col=0)

In [ ]:
# reading multiple sheets in a file - it is faster to create the pandas.ExcelFile,
# or simply pass the filename to pandas.read_excel()
frame = pd.read_excel("examples/ex1.xlsx",sheet_name="Sheet1")
frame

In [ ]:
# writing pandas data to Excel format, ExcelWriter must be created
# and write data to it using the pandas object's to_excel()
writer = pd.ExcelWriter("examples/ex2.xlsx")

In [ ]:
frame.to_excel(writer,"Sheet1")

In [ ]:
writer.save()

In [ ]:
# with library version update, writer.save() is no longer valid.
# Fixed the code per suggestion by LLM

with pd.ExcelWriter("examples/ex2.xlsx") as writer:
    frame.to_excel(writer,sheet_name="Sheet1")

In [ ]:
# Using HDF5 Format
# HDF5 is for large and complex scientific array data, that is avialable in C library
frame = pd.DataFrame({"a":np.random.standard_normal(100)})
frame

In [ ]:
store = pd.HDFStore("examples/mydata.h5")

In [ ]:
store["obj1"] = frame
frame

In [ ]:
store["obj1_col"] = frame["a"]

In [ ]:
store

In [ ]:
# objects contained in HDF5 can be retrieved with the same dictionary-like API
store["obj1"]

In [ ]:
# setting storage schemas - "fixed" (default) and "table"
store.put("obj2",frame,format="table")

In [ ]:
store.select("obj2",where=["index >= 10 and index <= 15"])

In [ ]:
# deleting the HDF5 created
import os
store.close()
os.remove("examples/mydata.h5")

In [ ]:
# if you are processing data that is stored on remote servers, using different binary format like Apache Parquet may be more suitable

In [ ]:

# Interacting with Web APIs

In [ ]:
# many websites have public APIs via JSON or ohter format
# one recommended method is requests package

In [ ]:
conda install requests

In [55]:
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [56]:
resp = requests.get(url)
resp.raise_for_status()
# it's good practice to always call raise_for_status() after using requests.get to check for HTTP errors

In [50]:
resp

In [57]:
data = resp.json()

In [58]:
data[0]["title"]

'DOC: Fix outdated docs for pandas 3.0'

In [ ]:
# passing data directly to Pandas